doctype html
html
  head
    title My Express App
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='#') Your Full Name
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/home') Home
          li.nav-item
            a.nav-link(href='/student') Student
    .container.mt-4
      .jumbotron
        h1 Hello, world!
        p Welcome to my Express App.
    footer.footer
      p 200537524
